<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/style.css" />

    <link
      rel="stylesheet"
      href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css"
    />
    <script type="text/javascript">
      function popup() {
        alert("feedback submitted successfully");
      }
    </script>
  </head>

  <body>
    <nav>
      <div class="container-fluid">
        <div class="nav_bar">
          <div class="main_logo">
            <div class="logo">
              <img src="/static/images/asset/logob (3).png" alt="logo" />
            </div>
            <div class="site_name">
              <p>Off-Campus</p>
            </div>
          </div>
          <div class="links">
            <ul>
              <li><a href="/" class="a">Home</a></li>
              <li><a href="/view_property" class="a">Explore</a></li>
              <li><a href="/fd" class="a_main">Feedback</a></li>
              {% if request.user.is_anonymous %}
              <li><a href="/login" class="a">Login</a></li>
              {% else %}
              <li><a href="/view_book" class="a">My Booking</a></li>
              <li><a href="/logout" class="a">Logout</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="bg">
        <div class="row">
          <div class="col-lg-2 col-xl-2"></div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="imag">
              <img src="/static/images/asset/corner.jpg" alt="Feedback Image" />
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="form">
              <h2>Feedback Form</h2>
              <form action="#" method="POST">
                {% csrf_token %}
                <input
                  type="text"
                  name="name"
                  placeholder="Your Name"
                  autocomplete="off"
                  required
                /><br />
                <input
                  type="text"
                  name="email"
                  placeholder="Your Email"
                  autocomplete="off"
                  required
                /><br />
                <input
                  type="text"
                  name="phoneno"
                  placeholder="phone no"
                  autocomplete="off"
                  required
                /><br />
                <p align="center">Do you satisfy with our service?</p>
                <center>
                  <input type="radio" name="satisfy" value="Yes" checked />
                  <label>Yes</label>

                  <input type="radio" name="satisfy" value="No" />
                  <label>No</label>
                </center>
                <br />
                <textarea
                  name="message"
                  placeholder="Your Feedback"
                  required
                ></textarea
                ><br />

                <input
                  type="submit"
                  value="Submit Feedback"
                  id="submit"
                  onclick="popup()"
                />
              </form>
            </div>
          </div>
          <div class="col-lg-2 col-xl-2"></div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid">
        <div class="main_footer">
          <div class="row">
            <div class="col">
              <div>
                <h2 class="icon_heading">contact us</h2>
                <img
                  src="/static/images/asset/telephone.png"
                  alt=""
                  class="icon"
                /><span><label class="contact">+91 0258963541</label></span>
                <br />
                <img
                  src="/static/images/asset/mail.png"
                  alt=""
                  class="icon"
                /><span
                  ><label class="contact">offcampus@gmail.com</label></span
                >
                <br />
                <img
                  src="/static/images/asset/logo/location.png"
                  alt=""
                  class="icon"
                /><span
                  ><label class="contact">
                    Amboli Seizer Rd, Andheri, Mumbai</label
                  ></span
                >
              </div>
            </div>
            <div class="col">
              <div>
                <p class="icon_heading">follow us on</p>
                <span class=""
                  ><img
                    src="/static/images/asset/whatsapp.png"
                    alt=""
                    class="icons"
                /></span>
                <span
                  ><img
                    src="/static/images/asset/twitter.png"
                    alt=""
                    class="icons"
                /></span>
                <span
                  ><img
                    src="/static/images/asset/instagram.png"
                    alt=""
                    class="icons"
                /></span>
              </div>
            </div>
            <div class="col">
              <div class="link">
                <ul>
                  <li><a href="/" class="a_main">Home</a></li>
                  <li><a href="/view_property" class="a">Search</a></li>
                  <li><a href="/fd" class="a">Feedback</a></li>
                  {% if request.user.is_anonymous %}
                  <li><a href="/login" class="a">Login</a></li>
                  {% else %}
                  <li><a href="/view_book" class="a">My Booking</a></li>
                  <li><a href="/logout" class="a">Logout</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
