<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1> House rules for a PG (Paying Guest) </h1><br><br>

    <h4>Quiet Hours: </h4>
    <p>Designate specific times during the day when noise levels should be kept to a
        minimum to ensure a peaceful environment for all residents, especially during late evenings and
        early mornings.</p>

    <h4>Guest Policy: </h4>
    <p>Establish guidelines regarding guests, including visiting hours,
        restrictions on overnight stays, and requirements for notifying the management about visitors.</p>

    <h4>Cleanliness and Hygiene:</h4>
    <p> Emphasize the importance of maintaining cleanliness in
        common areas, bathrooms, and personal living spaces. Encourage residents to clean up after
        themselves and follow proper waste disposal practices.</p>

    <h4>Smoking and Alcohol:</h4>
    <p> Specify whether smoking and alcohol consumption are permitted
        on the premises and any designated areas for these activities, if applicable. Many PG
        accommodations enforce smoke-free policies for the comfort and safety of all residents.</p>

    <h4>Kitchen Etiquette:</h4>
    <p> Provide guidelines for using shared kitchen facilities, including cleaning up after cooking,
        labeling personal food items, and respecting others' belongings.</p>

    <h4>Respect for Property and Residents:</h4>
    <p> Encourage residents to respect the property and belongings of others,
        refrain from theft or vandalism, and resolve conflicts in a respectful and peaceful manner.</p>

    <h4>Safety and Security:</h4>
    <p>Outline safety protocols, such as keeping doors and windows locked, reporting any
        maintenance issues or security concerns promptly, and adhering to fire safety regulations.</p>

    <h4>Internet and Utilities Usage:</h4>
    <p> Specify rules related to the use of internet services, electricity,
        water, and other utilities, including any restrictions or guidelines for fair usage.</p>

    <h4>Personal Conduct:</h4>
    <p> Prohibit disruptive or illegal behavior, harassment, discrimination, or any
        activity that may compromise the well-being or comfort of fellow residents.</p>

    <h4>Compliance with Rules: </h4>
    <p>Clearly state the consequences of violating house rules, including
        warnings, fines, or termination of the residency agreement, and ensure that all residents
        understand and agree to abide by these rules upon moving in</p>
</body>

</html>